@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela&display=swap');
:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Raleway', sans-serif;
  --font3: 'Advent Pro', sans-serif;
  --font4: 'Varela', sans-serif;
  --font5: 'Nunito', sans-serif;
  --font6: 'Roboto', sans-serif;

  --light-background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #fff;

  --dark-background: #1a1a1a;
}
